@import url(./reset.css);
:root {
  --veryDarkBlue: hsl(233, 47%, 7%); /*(main background)*/
  --darkDesaturatedBlue: hsl(244, 38%, 16%); /*(card background)*/
  --softViolet: hsl(277, 64%, 61%); /*(accent)*/
  --white: hsl(0, 0%, 100%); /*(main heading, stats)*/
  --slightlyTransparentWhite1: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
  --slightlyTransparentWhite2: hsla(0, 0%, 100%, 0.6); /* (stat headings)*/
  --footerLink: hsl(228, 45%, 44%); /*footer anchor tag*/
  --gray: hsl(0, 0%, 71.4%); /*footer*/
  --interFont: "Inter", sans-serif; /*main text font family*/
  --LexendDecaFont: "Lexend Deca", sans-serif; /*stats text font family*/
}

body {
  background-color: var(--veryDarkBlue);
  font-family: var(--interFont);
  height: 50vh;
}
img {
  width: 100%;
}
main,
img,
.text-container,
.image-container {
  height: 500px;
}
main {
  max-width: 1440px;
  margin: 3rem auto 0;
  background-color: var(--darkDesaturatedBlue);
}
main {
  border-radius: 0.5rem 0.5rem 0 0;
}
img,
.image-container,
.image-container::before {
  border-radius: 0 0.5rem 0 0;
}
footer {
  border-radius: 0 0 0.5rem 0.5rem;
}
.container {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}
.insights {
  font-size: 100%;
  color: var(--softViolet);
}
.text-container,
.image-container {
  width: 100%;
}
.main-text {
  width: 60%;
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 3rem auto;
}
.main-text h1 {
  margin-bottom: 2rem;
  font-size: clamp(3.8rem, 3vw, 4rem);
}
.main-text p {
  color: var(--slightlyTransparentWhite1);
  line-height: 3rem;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.stats div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: start;
}
.stats h2 {
  color: var(--white);
  font-weight: 700;
}
.stats h2 span {
  font-size: inherit;
}
.stats p {
  text-transform: uppercase;
  font-family: var(--LexendDecaFont);
  font-weight: 400;
  color: var(--slightlyTransparentWhite2);
}
.stats p:hover {
  cursor: pointer;
  color: var(--softViolet);
}
.image-container {
  position: relative;
  width: 100%;
}
.image-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(108, 7, 202);
  opacity: 0.5;
}

.flex-col-btw {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.attribution,
.attribution a {
  font-size: 1.1rem;
}
.attribution {
  text-align: center;
  background-color: var(--gray);
  padding: 1rem;
  order: 3;
}
.attribution a {
  color: var(--footerLink);
}

@media screen and (max-width: 920px) {
.main-text {
    width: 90%;
    margin: 2rem auto;
  }
}
@media screen and (max-width: 768px) {
  * {
    text-align: center;
  }
  img,
  .image-container,
  .image-container::before {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  footer {
    border-radius: 0 0 0.5rem 0.5rem;
  }
  main,
  img,
  .text-container,
  .image-container {
    height: auto;
  }
  main {
    max-width: 500px;
  }
  .container {
    flex-flow: column;
  }
  .text-container {
    height: 80vh;
  }
  

  .stats {
    flex-flow: column;
    align-items: center;
    margin: 2rem 0;
  }
  .stats div {
    align-items: center;
    margin: 3rem 0;
  }
  .text-container {
    order: 2;
  }

  .image-container {
    order: 1;
  }
}

@media screen and (max-width: 500px) {
  main {
    max-width: 375px;
  }
}
